<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Ciudades</h4>
                    <button class="btn btn-success float-end margin-button-create" routerLink="/create-city">Nuevo</button>
                </div>
                <div class="card-body text-center">
                    <span *ngIf="listCities.length > 0; else elseCities">
                        <table class="table table-striped mt2">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let city of listCities | paginate: { itemsPerPage: 10, currentPage: page}">
                                    <td>{{ city.name }}</td>
                                    <td>
                                        <i [routerLink]="['/edit-city', city.id]" class="fas fa-edit text-primary"></i>
                                        <i (click)="deleteCity(city.id)" class="fas fa-trash text-danger"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="page = $event" previousLabel="Anterior"
                            nextLabel="Siguiente">
                        </pagination-controls>
                    </span>
                    <ng-template #elseCities>
                        <p class="text-start">No hay ciudades disponibles</p>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>