<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-color-customize">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">
            <img src="../../../assets/logo.png" alt="" width="85%" style="margin-left: 1rem;">
        </a>
        <div class="" id="navbarNavAltMarkup">
            <div class="navbar-nav float-right">
                <a class="nav-link" routerLink="/users">Usuarios</a>
                <a class="nav-link" routerLink="/cities">Ciudades</a>
                <a class="nav-link" routerLink="/sites">Sedes</a>
                <button class="btn btn-dark" (click)="signOff()">Cerrar Sesión</button>
            </div>
        </div>
    </div>
</nav>