<div class="container mt-5">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card mb-4 card-transparent">
                    <div class="card-header">
                        <h4 class="text-center">Bienvenido</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Hola <b>{{ username }}</b> ahora eres parte del gimnasio "No Pain No Gain". <br>
                            <span *ngIf="admin">Eres administrador, puedes modificar el sistema a tu gusto.</span>
                            <span *ngIf="!admin">Para nosotros es una placer atenderte ¡te esperamos!</span>
                            <br> Para más información no dudes en contactarte con:
                        </p>
                        <i class="fas fa-envelope-open-text"></i> <a href="mailto:testdan1504@gmail.com">testdan1504@gmail.com</a> <br>
                        <i class="fas fa-desktop"></i> <a target="_blank" href="https://github.com/neildan?tab=repositories">Página Web</a> <br>
                        <i class="fas fa-phone-square"></i> <a href="tel:+573108719976">+57 3108719976</a>
                    </div>
                    <div class="card-footer">
                        © No Pain No Gain - 2021
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="../../../assets/welcome.png" alt="">
            </div>
        </div>
    </div>
</div>